/*
Estatic
Relative = para usar essa propriedade é nescessário adicionar tb top, right, bottom, left
Absolute = quando usada, os elementos se comportam como se esse nao existisse
Fixed = ficara fixo em relação a janela do navegador
*/

p{
	width: 300px;
}


body{
	background: #007fc7;
}

#cont{
	background: #FFF;
	width: 800px;
	margin: 10px auto; /* o auto ira aplicar a margem automaticamente permitindo centralizar */
	padding: 10px;
}

.relative{
	border: 1px solid red;

	position: relative;
	top: -20px; /*Usando numeros negativos ele faz o contrario */
	left: 80px;
}

.absolute{
	border: 1px solid red;
	position: absolute; /* se o conteiner tiver a posiça~o fixa o elemto alinha de acordo com a pagina, porem se tiver outra ex 
	relative ele alinha*/ 
	top: 0px;
}

.fixed{
	border: 1px solid red;
	background: #f2f2f2;
	position: fixed;
	top: 0px;
	right: 0px;
	margin: 0px;
}