/* 

Modelo de caixa

padding -> espaçamento interno
margin -> espacamento externo
a largura total da "caixa" é a soma da largura(width) + padding's
*/
.conteudo{
	border: 1px solid red;
	
	padding: 20px;

	margin: 10px;


	/*
 	OU
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	OU
	padding: 20px 15px 10px 5px;
	OU
	padding: 20px 15px;
	
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	OU
	margin: 20px 15px 10px 5px;
	OU 
	margin:  20px 15px;

	*/

	width: 150px;
}