* {
	margin: 0;
	padding: 0;
}


h1{
  font-size: 2.5em;
}

h2{
  color: gold;
}

a{
  margin: 20px 15px;
  text-decoration: none;
  font-size: 1.2em;
}

a:link{
  color: white;
}

a:visited{
  color: white;
}

a:hover{
	color: yellow;
	background: white;
}

#principal{
  width: 920px;
	margin: 0 auto;
	padding: 15px;
}
#topo{
  padding: 15px;
  text-align: center;
  background-color:gold;
}

#corpo{
  background: #D1CCE7;
}

#titulo{
  margin: 20px
}

#area-postagen{
  width: 660px;
	float: left;
}

#area-later{
  width: 240px;
	float: right;
}

.clear{
  clear: both;
}

.branco{
  color: white;
}

.postagens{
  background-color: white;
  margin-bottom: 30px
  float: left;
  padding: 10px;

}

.data{
  font-size: 0.8em;
}

.conteudo-lateral{
  background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.postagem-lateral {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #CCC;
}
